doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title About Page
        link(rel="stylesheet", href="style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/favicon.png", type="image/x-icon",sizes="32x32")
    body.page-home
        include header.pug
        main.main.main-projects
            .page-header Обо мне
            .page-content
                .about-content
                    .about-text 
                        .text-content 
                            span.text-content__header Дмитрий Фрейдман
                            span.text-content__par
                                |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at arcu dui. Aenean placerat mauris nisl. Proin vitae urna eu sem pellentesque laoreet. Mauris varius quam ut libero tempor rutrum. Sed quis maximus nunc. Nulla eu erat vel nunc consectetur ornare. Nam bibendum cursus viverra. Aenean placerat bibendum quam, eugiat elit tincidunt in. Curabitur nec aliquet erat, et dictum nulla. eugiat elit tincidunt in. Curabitur nec aliquet erat, et dictum nulla.Sed quis maximus nunc. Nulla eu erat vel nunc consectetur ornare.Sed quis maximus nunc..
                            span.text-content__par
                                |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at arcu dui. Aenean placerat mauris nisl. Proin vitae urna eu sem pellentesque laoreet. Mauris varius quam ut libero tempor rutrum. Sed quis maximus nunc. Nulla eu erat vel nunc consectetur ornare. Nam bibendum cursus viverra. Aenean placerat bibendum quam, eugiat elit tincidunt in. Curabitur nec aliquet erat, et dictum nulla. eugiat elit tincidunt in. Curabitur nec aliquet erat, et dictum nulla.Sed quis maximus nunc. Nulla eu erat vel nunc consectetur ornare.Sed quis maximus nunc..
                            span.text-content__par
                                |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at arcu dui. Aenean placerat mauris nisl. Proin vitae urna eu sem pellentesque laoreet. Mauris varius quam ut libero tempor rutrum. Sed quis maximus nunc. Nulla eu erat vel nunc consectetur ornare. Nam bibendum cursus viverra. Aenean placerat bibendum quam, eugiat elit tincidunt in. Curabitur nec aliquet erat, et dictum nulla. eugiat elit tincidunt in. Curabitur nec aliquet erat, et dictum nulla.Sed quis maximus nunc. Nulla eu erat vel nunc consectetur ornare.Sed quis maximus nunc..
                            span.text-content__par
                                |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at arcu dui. Aenean placerat mauris nisl. Proin vitae urna eu sem pellentesque laoreet. Mauris varius quam ut libero tempor rutrum. Sed quis maximus nunc. Nulla eu erat vel nunc consectetur ornare. Nam bibendum cursus viverra. Aenean placerat bibendum quam, eugiat elit tincidunt in. Curabitur nec aliquet erat, et dictum nulla. eugiat elit tincidunt in. Curabitur nec aliquet erat, et dictum nulla.Sed quis maximus nunc. Nulla eu erat vel nunc consectetur ornare.Sed quis maximus nunc..
                            span.text-content__par
                                |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at arcu dui. Aenean placerat mauris nisl. Proin vitae urna eu sem pellentesque laoreet. Mauris varius quam ut libero tempor rutrum. Sed quis maximus nunc. Nulla eu erat vel nunc consectetur ornare. Nam bibendum cursus viverra. Aenean placerat bibendum quam, eugiat elit tincidunt in. Curabitur nec aliquet erat, et dictum nulla. eugiat elit tincidunt in. Curabitur nec aliquet erat, et dictum nulla.Sed quis maximus nunc. Nulla eu erat vel nunc consectetur ornare.Sed quis maximus nunc..
                    .about-image
                        img(src="./assets/images/content/hostImg.png", alt="")

                
        include footer.pug
        script(src="./assets/js/jquery.min.js") 
        script(src="./assets/js/plugins.min.js") 
        script(src="./assets/js/main.min.js")  