footer.footer.home-footer 
    .home-footer__creators
        span.creators--design Created by Dimitri Freidman |  
        span.creators--developer Developed by Felix Freidman
    .home-footer__social-container
        a(href="mailto:dima-freydman@yandex.ru", target = "_blank")
            img(src="./assets/images/content/email.svg", alt="Mail Icon").social-icon
        a(href="https://instagram.com/dfreidman", target = "_blank")
            img(src="./assets/images/content/instagram.svg", alt="Instagram Icon").social-icon
        a(href="https://t.me/dfreidman", target = "_blank")
            img(src="./assets/images/content/telegram.svg", alt="Telegram Icon").social-icon
        a(href="https://www.facebook.com/difreidman", target = "_blank")
            img(src="./assets/images/content/facebook.svg", alt="Facebook Icon").social-icon
        a(href="https://wa.me/79041539460", target = "_blank")
            img(src="./assets/images/content/whatsapp.svg", alt="WhatsApp Icon").social-icon  
        