.header-layer.header-js--hidden#blur-header-layer
.header#header-main 
    .header-container--vertical 
        .menu-toggler#toggle-open
            img(src="./assets/images/content/Menu.svg", alt="")
        .logo
            a(href="./") 
                img(src="./assets/images/content/logo.svg", alt="Logo Image")
.header-layer.header-js--hidden#blur-header-layer
.header.header--100height.header-js--hidden#header-opened
    .header-container--horizontal 
        .logo
            a(href="./") 
                img(src="./assets/images/content/logo-hor.svg", alt="Logo Image")  
        .menu-toggler#toggle-close
            span.cross-one 
            span.cross-two
    .header-container
        .header-navigation 
            ul.navigation-list 
                li.navigation-elem 
                    a(href="./about.html")  Обо мне
                li.navigation-elem 
                    a(href="./projects.html") Проекты
                li.navigation-elem
                    a(href="./contact.html") Связаться

.header--mobile
    .header--mobile__container
        .logo
            a(href="./") 
                img(src="./assets/images/content/logo-hor.svg", alt="Logo Image")
        .header--mobile__toggler#mobile-toggler
            span.line-one#mobile-line--one 
            span.line-two#mobile-line--two 
            span.line-three#mobile-line-three
.header-layer--mobile.header-layer--transform_top#mobile-blur-layer 
.header-list--mobile.header-list--transform_top#mobile-list
    a(href="./about.html", target="_blank").header-nav__link Обо мне
    a(href="./projects.html", target="_blank").header-nav__link Проекты
    a(href="./contact.html", target="_blank").header-nav__link Связаться 
