.header-layer.header-js--hidden#blur-header-layer
.header#header-main 
    .header-container--vertical 
        .menu-toggler#toggle-open
            img(src="./assets/images/content/Menu.svg", alt="")
        .logo
            a(href="./") 
                img(src="./assets/images/content/logo.svg", alt="Logo Image")
.header-layer.header-js--hidden#blur-header-layer
.header.header--100height.header-js--hidden#header-opened
    .header-container--horizontal 
        .logo
            a(href="./") 
                img(src="./assets/images/content/logo-hor.svg", alt="Logo Image")  
        .menu-toggler#toggle-close
            span.cross-one 
            span.cross-two
    .header-container
        .header-navigation 
            ul.navigation-list 
                li.navigation-elem 
                    a(href="./about.html")  Обо мне
                li.navigation-elem 
                    a(href="./projects.html") Проекты
                li.navigation-elem
                    a(href="./contact.html") Связаться
