.header-container--index
    .header--index#header-main 
        .header-container--vertical 
            .logo
                a(href="./") 
                    img(src="./assets/images/content/logo-hor.svg", alt="Logo Image")
    .header-nav 
        a(href="./about.html", target="_blank").header-nav__link Обо мне
        a(href="./projects.html", target="_blank").header-nav__link Проекты
        a(href="./contact.html", target="_blank").header-nav__link Связаться    


