.about-content {
    display: flex;
    margin-left: 136px;
    justify-content: space-between;
    width: 100%;
    .about-text {
        margin-top: auto;
        width: calc(55% - 30px);
        max-height: 400px;
        height: fit-content;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-right: 30px;
    }
    .about-image {
        width: 40%;
        height: 70vh;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.text-content__par {
    margin-bottom: 15px;
    font-size: 16px;
    color: #000;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-content__header {
    font-weight: 700;
    font-size: 18px;
    color: #000;
    line-height: 21px;
    margin-bottom: 35px;
}

.about-text::-webkit-scrollbar {
    width: 2px;
}

.about-text::-webkit-scrollbar-track {
    background-color: #e1e1e1;
}

.about-text::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.page-home::-webkit-scrollbar {
    width: 5px;
    margin-right: 10px;
}

.page-home::-webkit-scrollbar-track {
    background-color: #e1e1e1;
}

.page-home::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(255, 54, 54);
}