.home-footer {
    padding-left: 290px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 320px);
}

.home-footer__creators {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.social-icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.home-footer__social-container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .home-footer {
        padding-left: 150px;
        width: calc(100vw - 170px);
    }
}

@media screen and (max-width: 768px) {
    .home-footer__creators {
        font-size: 8px;
    }
    .social-icon {
        width: 15px;
        height: 15px;
        margin-left: 8px;
    }
}