.header {
    padding: 0 38px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    border-right: 1px solid #e1e1e1;
    display: flex;
    z-index: 101;
    background-color: #fff;
    height: calc(100vh - 80px);
    .header-container--vertical {
        margin-top: auto;
        width: fit-content;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: transform ease 1s;
}

.navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    .navigation-elem {
        font-weight: 500;
        padding: 0;
        margin: 0;
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 21px;
    }
}

.menu-toggler {
    cursor: pointer;
    position: relative;
    display: flex;
}

.header-container--horizontal {
    display: flex;
    width: fit-content;
    align-items: center;
    .menu-toggler {
        cursor: pointer;
        position: relative;
        display: flex;
        margin-left: 23px;
        .cross-one {
            width: 20px;
            height: 1.5px;
            background-color: #000;
            display: block;
            transform: rotate(45deg);
            position: absolute;
            margin-left: auto;
            left: 0;
            margin-right: auto;
            right: 0;
        }
        .cross-two {
            width: 20px;
            height: 1.5px;
            background-color: #000;
            display: block;
            transform: rotate(-45deg);
        }
    }
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}

.header-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-js--hidden {
    position: absolute;
    transform: translateX(-100vw);
}

.header-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    z-index: 100;
    transition: transform ease 1s;
}

.header--100height {
    height: 100vh;
}

.header-container--index {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 400px;
    width: 400px;
    height: calc(100vh - 80px);
}

.header--index {
    padding: 0 38px;
    border-right: 1px solid #e1e1e1;
    display: flex;
    z-index: 101;
    background-color: #fff;
    height: calc(100vh - 80px);
    .header-container--vertical {
        margin-top: auto;
        width: fit-content;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: transform ease 1s;
}

.header-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 24px;
    &__link {
        line-height: 21px;
        margin-bottom: 6px;
        font-size: 14px;
        color: #000;
    }
}

// .header-container--index~.home-footer {
//     padding-left: 490px;
//     width: calc(100vw - 520px);
// }
@media screen and (max-width:550px) {
    .header,
    .header-container--index {
        display: none;
    }
    .header--mobile {
        display: flex !important;
    }
    .main {
        width: calc(100vw - 15px);
        padding-left: 15px;
    }
    .main-projects {
        align-items: center;
    }
    .home-footer {
        width: calc(100vw - 65px) !important;
        padding-left: 15px !important;
    }
    .home-footer__creators {
        font-size: 9px !important;
    }
}

// Mobile Header
.header--mobile {
    background-color: #fff;
    z-index: 103;
    display: none;
    padding: 10px 16px 20px;
    width: calc(100vw - 32px);
    height: calc(60px - 30px);
    position: fixed;
    top: 0;
    left: 0;
    .header--mobile__container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .logo {
            height: 32px;
            a {
                height: 32px;
                display: flex;
                align-items: center;
            }
        }
    }
    .header--mobile__toggler {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        justify-content: space-around;
        width: 32px;
        height: 32px;
        .line-one,
        .line-two {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 0;
            margin-left: auto;
            display: block;
            width: 24px;
            height: 1px;
            background-color: #000;
            transition: transform 0.1s ease;
        }
        .line-three {
            display: block;
            margin-top: 14px;
            width: 24px;
            height: 1px;
            background-color: #000;
            transition: transform 0.1s ease;
        }
    }
}

.line-rotation--clockwise {
    transform: rotate(45deg);
    transition: transform 0.1s ease;
}

.line-rotation--clockwise_counter {
    transform: rotate(-45deg);
    transition: transform 0.1s ease;
}

.line-opacity {
    animation: opacityForThirdLine 0.1s ease;
    opacity: 0;
}

@keyframes opacityForThirdLine {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.header-layer--mobile {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    backdrop-filter: blur(20px);
    transition: transform 0.5s ease;
}

.header-list--mobile {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100vw - 20px);
    z-index: 102;
    padding: 100px 0 20px 20px;
    position: fixed;
    transition: transform 0.8s ease;
    top: 0;
    left: 0;
    .header-nav__link {
        font-size: 19px;
        color: #000;
    }
}

.header-layer--transform_top {
    transform: translateY(-100vh);
    transition: transform 0.5s ease;
}

.header-list--transform_top {
    transform: translateY(-100vh);
    transition: transform 0.8s ease;
}

@media screen and (max-width: 550px) {
    .page-header {
        margin-bottom: 0px !important;
        margin-top: 60px;
    }
    .main-contact {
        .page-content {
            margin-top: 175px;
        }
    }
    .main-projects {
        .page-header {
            margin-bottom: 30px !important;
        }
    }
}