body {
    font-family: "Montserrat" !important;
    font-weight: 500;
    overflow-x: hidden;
    max-width: 100vw;
    min-height: 100vh;
    height: fit-content;
    position: relative;
    cursor: default;
    a {
        text-decoration: none;
        color: #000;
        &:hover {
            color: #FF3636;
        }
    }
}

.page-home {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: space-between !important;
    padding: 40px 0;
    min-height: calc(100vh - 80px);
}

.main {
    padding-left: 150px;
    width: calc(100vw - 150px);
}