.main-notfound {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
    height: 90vh;
    overflow: hidden;
}

.error-container {
    max-width: 306px;
    max-height: 400px;
    width: 306;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .error-header {
        font-weight: 600;
        font-size: 24px;
        color: black;
    }
    .error-description {
        font-size: 19px;
        color: #767676;
        text-align: center;
        margin-top: 38px;
        margin-bottom: 43px;
    }
    .social-container--error {
        margin-bottom: 16px;
    }
    .error-button--reverse {
        padding: 13px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        font-size: 12px;
        color: #fff !important;
        border-radius: 5px;
        &:hover {
            box-shadow: 0 0 5px 5px rgba($color: #000000, $alpha: 5.0);
        }
    }
}