.main-projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.page-header {
    font-size: 22px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 60px;
}

.page-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: calc(100% - 30px);
    padding-right: 30px;
}

.filter-header {
    color: #767676;
    font-size: 16px;
    margin-bottom: 18px;
}

.filter-elem {
    font-size: 12px;
    color: #000;
    margin-bottom: 12px;
    cursor: pointer;
}

.filter-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projects-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 50px;
    margin-bottom: 40px;
}

.project-link {
    width: 48%;
    max-width: 48%;
    text-decoration: none;
}

.project-card {
    width: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    .project-header {
        font-size: 18px;
        color: #000;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .project-filter {
        font-size: 14px;
        color: #767676;
        line-height: 21px;
        margin-bottom: 35px;
    }
    .project-image {
        width: 100%;
        height: 100%;
        max-height: 300px;
        margin-bottom: 16px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 7px;
        }
    }
    .project-caption {
        font-size: 14px;
        color: #000;
        line-height: 21px;
    }
}

.projects-filter--mobile {
    display: none;
}

@media screen and (max-width: 1024px) {
    .project-card .project-header {
        font-size: 16px;
    }
    .project-card .project-filter {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .project-card .project-caption {
        font-size: 12px;
        line-height: 16px;
        color: #000;
    }
    .main-projects~.home-footer {
        width: calc(100vw - 320px);
        padding-right: 30px;
        padding-left: 290px;
    }
}

@media screen and (max-width: 900px) {
    .projects-container {
        flex-direction: column;
        .project-link {
            width: 95%;
            max-width: 95%;
        }
    }
    .project-card .project-header {
        font-size: 20px;
    }
    .project-card .project-caption {
        font-size: 14px;
    }
}

@media screen and (max-width: 670px) {
    .project-card .project-header {
        font-size: 16px;
    }
    .project-card .project-caption {
        font-size: 12px;
    }
    .projects-container {
        flex-direction: column;
        .project-link {
            width: 100%;
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 570px) {
    .project-card .project-header {
        font-size: 12px;
        margin-bottom: 0;
    }
    .project-card .project-filter {
        font-size: 10px;
        margin-bottom: 5px;
    }
    .project-card .project-caption {
        font-size: 10px;
    }
    .project-card .project-image {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 500px) {
    .filter-elem {
        font-size: 8px;
    }
    .filter-header {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .main.main-projects {
        width: calc(100vw - 15px);
        padding-left: 15px;
    }
    .page-content {
        padding-right: 15px;
        width: calc(100% - 15px);
    }
    .projects-container {
        margin-left: 25px;
    }
    .project-card .project-header {
        font-size: 14px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 395px) {
    .project-card .project-header {
        font-size: 12px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 395px) {
    .project-card .project-header {
        font-size: 10px;
        margin-bottom: 0;
    }
    .project-card .project-filter {
        font-size: 8px;
        margin-bottom: 5px;
    }
    .project-card .project-caption {
        font-size: 8px;
    }
    .filter-header {
        font-size: 12px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:500px) {
    .projects-filter {
        display: none;
    }
    .projects-container {
        margin-left: 0;
    }
    .projects-filter--mobile {
        display: flex;
        align-items: center;
        position: fixed;
        right: -20px;
        bottom: -15px;
        width: 100px;
        height: 100px;
        transition: transform 0.5s ease;
        background-color: #000;
        border-radius: 50%;
        &:hover {
            transform: scale(6);
            transition: transform 0.5s ease;
        }
        .filter-image {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
        img {
            width: 40px;
            height: 40px;
            &:hover {
                transform: scale(0.1);
            }
        }
        
    }
}