.project-content {
    display: flex;
    margin-left: 136px;
    justify-content: space-between;
    height: 65vh;
    width: 100%;
    align-items: flex-end;
    .project-text {
        width: calc(40% - 30px);
        max-height: 400px;
        height: fit-content;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-right: 30px;
    }
    .project-image {
        width: 55%;
        height: fit-content;
    }
}

.project-content__par {
    margin-bottom: 15px;
    font-size: 16px;
    color: #000;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.project-content__header {
    font-weight: 700;
    font-size: 18px;
    color: #000;
    line-height: 21px;
    margin-bottom: 6px;
}

.project-text::-webkit-scrollbar {
    width: 2px;
}

.project-text::-webkit-scrollbar-track {
    background-color: #e1e1e1;
}

.project-text::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.page-home::-webkit-scrollbar {
    width: 5px;
    margin-right: 10px;
}

.page-home::-webkit-scrollbar-track {
    background-color: #e1e1e1;
}

.page-home::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(255, 54, 54);
}

.project-data {
    display: flex;
    margin-bottom: 35px;
    margin-top: 8px;
    color: #767676;
    width: 100%;
    font-size: 12px;
    .project-filter {
        width: 20%;
    }
}

.main-project {
    .page-content {
        height: 70vh;
    }
}

@media screen and (max-width: 1024px) {
    .project-content {
        .project-image {
            width: 55%;
        }
    }
    .navigation-container--project {
        width: 300px;
    }
    .project-pagin {
        width: 200px !important;
    }
    .project-slide {
        .slide-cont {
            width: 300px;
        }
    }
}

@media screen and (max-width: 950px) {
    .main-project {
        .project-content {
            margin-left: 0;
            max-width: 100vw;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            height: fit-content;
            .project-image {
                margin-bottom: 100px;
                width: 60%;
            }
            .project-text {
                width: calc(70% - 30px);
                padding-left: 30px;
                padding-right: 0;
            }
            .project-slide {
                .slide-cont {
                    width: 400px;
                }
            }
            .navigation-container--project {
                width: 400px;
            }
            .project-pagin {
                width: 300px !important;
            }
        }
        .page-content {
            height: fit-content;
        }
    }
    .main-project+footer {
        margin-top: 15px !important;
    }
}

@media screen and (max-width: 700px) {
    .main-project {
        .project-content {
            .project-slide {
                .slide-cont {
                    width: 300px;
                }
            }
            .navigation-container--project {
                width: 300px;
            }
            .project-pagin {
                width: 200px !important;
            }
        }
    }
}

.watch-all-container {
    z-index: 1000;
}

@media screen and (max-width: 550px) {
    .main-project {
        .page-header {
            margin-bottom: 60px !important;
        }
        .project-content {
            .project-image {
                width: 100%;
            }
            .navigation-container--project {
                width: 350px;
            }
            .project-pagin {
                width: 250px !important;
            }
        }
    }
    .watch-all-container {
        margin-right: 10px;
        z-index: 1000;
    }
    .main-project .project-content .project-slide .slide-cont {
        width: 350px;
    }
    .main-project .project-content .project-text {
        width: calc(100% - 30px);
    }
}

@media screen and (max-width: 380px) {
    .main-project {
        .page-header {
            margin-bottom: 60px !important;
        }
        .project-content {
            .navigation-container--project {
                width: 290px;
            }
            .project-pagin {
                width: 190px !important;
            }
        }
    }
    .main-project .project-content .project-slide .slide-cont {
        width: 290px;
    }
    .main-project .project-content .project-image {
        width: 80%;
    }
}

@media screen and (max-width: 350px) {
    .main-project {
        .page-header {
            margin-bottom: 60px !important;
        }
        .project-content {
            .navigation-container--project {
                width: 250px;
            }
            .project-pagin {
                width: 150px !important;
            }
        }
    }
    .main-project .project-content .project-slide .slide-cont {
        width: 250px;
    }
    .main-project .project-content .project-image {
        width: 80%;
    }
}

.js--hidden {
    display: none !important;
}
