.custom-buttom-prev {
    background-image: url("./assets/images/content/prev-btn.svg");
    background-size: contain;
    width: 8px;
    height: 15px;
}

.custom-buttom-next {
    background-image: url("./assets/images/content/next-btn.svg");
    background-size: contain;
    width: 8px;
    height: 15px;
}

.home-slide {
    img {
        max-width: 800px;
        max-height: 500px;
        width: 100%;
        height: 100%;
    }
}

.home-wrapper {
    max-height: 500px;
}

.navigation-container {
    position: absolute;
    width: 55px;
    bottom: 0px;
    right: 0px;
}

.pagination-container {
    position: relative;
    width: 800px;
    display: flex;
    align-items: flex-start;
}

.home-container {
    position: relative;
    width: 800px;
    height: 50px;
    display: flex;
    align-items: center;
}

.swiper-pagination-bullet {
    background-color: #e1e1e1;
    width: 25%;
    border-radius: 0;
    opacity: 1;
    height: 2px;
}

.swiper-pagination-bullet-active {
    background-color: #767676;
    height: 4px;
}

.swiper-pagination {
    width: 600px;
    display: flex;
    align-items: center;
}

.project-slide {
    img {
        width: 400px !important;
        height: 500px !important;
    }
}

.project-wrapper {
    max-height: 600px;
}

.navigation-container--project {
    position: relative;
    width: 400px;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    .custom-buttom-prev {
        right: 35px;
        left: auto;
    }
}

.pagination-container {
    position: relative;
    width: 400px;
    display: flex;
    align-items: flex-start;
}

.project-container {
    position: relative;
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    .pagination-container {
        .swiper-pagination {
            width: 400px;
        }
    }
}

.main-container {
    max-width: 60vw;
}

@media screen and (max-width: 1200px) {
    .main-container {
        margin-left: 0;
    }
    .home-container {
        width: 60vw;
        height: 100px;
    }
    .main-home {
        height: 80vh;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 950px) {
    .main-container {
        max-width: 70vw;
    }
    .home-container {
        width: 70vw;
        height: 100px;
    }
    .pagination-container {
        width: 70vw !important;
    }
}

@media screen and (max-width: 788px) {
    .pagination-container {
        width: 70vw !important;
        .swiper-pagination {
            width: 100%;
        }
    }
    .home-container {
        width: 70vw;
        height: 100px;
    }
}

@media screen and (max-width: 550px) {
    .pagination-container {
        width: 70vw !important;
        .swiper-pagination {
            width: 100%;
        }
    }
    .home-container {
        width: calc(90vw - 15px);
        height: 100px;
    }
    .pagination-container {
        width: calc(90vw - 15px) !important;
        .swiper-pagination {
            width: 100%;
        }
    }
    .main-container {
        max-width: calc(90vw - 15px);
        padding-right: 15px;
    }
    .main-home {
        width: calc(100vw - 15px);
        padding-left: 15px;
    }
    .watch-all-container {
        font-size: 12px;
    }
}